$white: #fff;
$black: #000;

$grey-1: #c4c4c4;
$grey-2: #ececec;
$grey-3: #898989;
$grey-4: #e0e0e0;
$grey-5: #707070;
$grey-6: #c6c6c6;
$grey-7: #333333;
$grey-8: #f1f3f4;
$grey-9: #828282;
$grey-10: #e3e3ef;
$grey-11: #414141;
$grey-12: #61556f;
$grey-13: #dadada;
$grey-14: #263238;
$grey-15: #2632388a;
$grey-16: #7c8a96;
$grey-17: #182027;

$blue-1: #007bff;
$blue-2: #0069d9;
$blue-3: #aecbfa;
$blue-4: #5885fb;
$blue-5: #2c5acf;

$red-1: #ff3939;
$red-2: #ff1569;
$red-3: #d32f2f;
$red-4: #fab8b8;
$red-5: #e7929d;
$red-6: #e91e63;
$red-7: #fffafc;

$lavander-1: #8b84d7;
$lavander-2: #f3f3fb;
$lavander-3: #f5f5fd;
$lavander-4: #7b61ff;
$lavander-5: #7b61ff85;
$lavander-6: #ebeaf8;
$lavander-7: #8a84d6;
$lavander-8: #f5f4fb;
$lavander-9: #bdb4ff;
$lavander-10: #5f4bbf;
$lavander-11: #f1f0fa;
$lavander-12: #d7d4f1;
$lavander-13: #8b84d70a;

$green-1: #8dd38f;

$loader-background: #ffffff33;

$photo-requirements-scrollbar-color: $grey-10;
$box-shadow: rgba(71, 71, 119, 0.1);

$lylac-1: #c3c3d6;

$primary: $lavander-1;
$text-primary: $grey-14;
$text-secondary: $grey-15;

$button-background: $lavander-10;
$button-background-disabled: $lavander-11;
$button-text-disabled: $lavander-12;

$auth-background-client: $lavander-9;
$auth-background-specialist: $lavander-1;
$auth-link-color: $lavander-1;
$auth-tab-border: $grey-10;

$navigation-background: $white;
$navigation-quick-talk-button-background: $lavander-1;
$navigation-quick-talk-button-icon: $white;
$navigation-avatar-background: $grey-2;

$content-background: $lavander-2;

$field-label-color: $grey-3;

$calendar-mini-week-header: $grey-5;
$calendar-mini-another-month-day: $grey-6;
$calendar-mini-selected-day: $blue-3;
$calendar-mini-current-day: $blue-4;
$calendar-mini-hover: $grey-8;

$calendar-month-week-header: $grey-5;
$calendar-month-another-month-day: $grey-6;
$calendar-month-selected-day: $blue-3;
$calendar-month-current-day: $blue-4;
$calendar-month-hover: $grey-8;

$calendar-schedule-month: $grey-5;
$calendar-schedule-hover: $grey-8;

$calendar-today-button: $grey-7;
$calendar-border: $grey-4;

$calendar-available-slot-border: $lavander-4;
$calendar-available-slot-font: $lavander-4;
$calendar-available-slot-background: $white;
$calendar-not-available-slot-border: $red-4;
$calendar-not-available-slot-background-1: $white;
$calendar-not-available-slot-background-2: $red-4;
$calendar-not-available-slot-font: $grey-9;

$calendar-session-font: $white;
$calendar-session-background: $lavander-4;
